<div class = "container">
  <div class = "row ft-card">
    <div class="col-md-8">
			<div>
				<h2>Change your password</h2>
			</div>
      <div class="separator"></div>
      <form name="passwordRemainder" novalidate ng-submit="authenticate()">
        <div>
          <p>Required fields are shown with a star
            <span class = "mandatoryStar">*</span>
          </p>
        </div>
        <div class = "row top-buffer">
          <div class = "col-md-4">
            <label for ="oldPassword">Old password
              <span class="mandatoryStar">*</span>
            </label>
          </div>
          <div class = "col-md-8">
            <input type="password" size="30" name="oldPassword" data-ng-model="" placeholder="Old password" class="form-control" ng-minlength="6" ng-maxlength="16">
          </div>
        </div>
        <div class = "row top-buffer">
          <div class = "col-md-4">
            <label for ="newPassword">New password
              <span class="mandatoryStar">*</span>
            </label>
            <div class = "fieldLabelNote">8 or more characters</div>
          </div>
          <div class = "col-md-8">
            <input type="password" size="30" name="newPassword" data-ng-model="" placeholder="New password" class="form-control" ng-minlength="6" ng-maxlength="16">
          </div>
        </div>
        <div class = "row top-buffer">
          <div class = "col-md-4">
            <label for ="confirmNewPassword">Confirm new password
              <span class="mandatoryStar">*</span>
            </label>
          </div>
          <div class = "col-md-8">
            <input type="password" size="30" name="confirmNewPassword" data-ng-model="" placeholder="Confirm your new password" class="form-control" ng-minlength="6" ng-maxlength="16">
          </div>
        </div>
        <div class = "row top-buffer">
          <div class = "col-md-4">
            <label for ="passwordStrength">Password strength
            </label>
          </div>
        </div>
        <div class="separator"></div>
        <div class="text-center">
					<button type="submit" class="btn buttom-buffer">Join Funtown</button>
				</div>
				<br>
      </form>
    </div>
  </div>
</div>
