	<div class="col-md-12">
		<h3 class="ft-main-content-title">My Funtown</h3>
		<div class="ft-card row">                      
            <div class="col-md-4 ft-profile ft-profile-member">
            	<div>Keds</div>
            	<div class="ft-card-line small">kedar.krishnan@gmail.com</div>
            </div>
            <div class="col-md-8">
	            <div class="col-md-4 ft-profile small">
					<div>Kedar Krishnan</div>
					<div>116</div>
					<div>10 Ronayne Street</div>
					<div>Auckland Central</div>
					<div>Auckland</div>								            	
	            </div>
	            <div class="col-md-4 ft-profile small">
	            	<div>027 4315111</div>
	            </div> 
	            <div class="col-md-4 ft-profile small text-right">
	            	<a class="btn" href="/profile">Edit profile</a>
	            	<a class="btn" href="/change">Change password</a>
	            </div> 
	        </div>    
        </div> 
	</div>
	<div class="col-md-4">
		<div class="ft-card ft-card-ht">
			<h4 class="ft-card-title">Buying</h4>
			<ul class="list-unstyled">
				<li>
					<a ui-sref-active="active" ui-sref="manage.orders">My Orders</a>
					<div class="ft-badge">0</div>
				</li>
				<li>
					<a ui-sref-active="active" ui-sref="manage.watchlist">My Watchlist</a>
					<div class="ft-badge">0</div>
				</li>			
				<li>
					<a ui-sref-active="active" ui-sref="manage.shippingAddress">Shipping Address</a>
					<div class="ft-badge">0</div>
				</li>
			</ul>
		</div>
	</div>	
	<div class="col-md-4">
		<div class="ft-card ft-card-ht">
			<h4 class="ft-card-title">Selling</h4>
			<ul class="list-unstyled">
				<li><a ui-sref-active="active" ui-sref="manage.addProduct.step1">List New Product</a></li>
				<li>
					<a ui-sref-active="active" ui-sref="manage.products.ACTIVE">Products I Am Selling</a>
					<div class="ft-badge">0</div>
				</li>
				<li>
					<a ui-sref-active="active" ui-sref="manage.products.SOLD">Products Sold</a>
					<div class="ft-badge">0</div>
				</li>
				<li>
					<a ui-sref-active="active" ui-sref="manage.products.OUT_OF_STOCK">Products Out Of Stock</a>
					<div class="ft-badge">0</div>
				</li>
				<li>
					<a ui-sref-active="active" ui-sref="manage.products.DE_ACTIVE">De-active Products</a>
					<div class="ft-badge">0</div>
				</li>
				<li>
					<a ui-sref-active="active" ui-sref="manage.products.IN_DRAFT">Products In Draft</a>
					<div class="ft-badge">0</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-4">
		<div class="ft-card ft-card-ht">
			<h4 class="ft-card-title">Accounts</h4>
			<ul class="list-unstyled">
				<li><a ui-sref-active="active" ui-sref="manage.funtownAccount">Funtown Account</a></li>
				<li><a ui-sref-active="active" ui-sref="manage.paynowAccount">Pay now Account</a></li>
			</ul>
		</div>
	</div>