<div class="ft-side-nav">                    
    <div class="ft-card">                            
        <ul class="list-unstyled">                            
            <li class="ft-side-nav-group">Buying
                <ul class="list-unstyled small">
                    <li ui-sref-active="active"><a ui-sref="manage.orders">My Orders</a></li>
                    <li ui-sref-active="active"><a ui-sref="manage.watchlist">My Watchlist</a></li>            
                    <li ui-sref-active="active"><a ui-sref="manage.shippingAddress">Shipping Address</a></li>
                 </ul> 
            </li>
            <li class="ft-side-nav-group">Selling
                <ul class="list-unstyled small">
                    <li ui-sref-active="active"><a ui-sref="manage.addProduct">List New Product</a></li>
                    <li ui-sref-active="active"><a ui-sref="manage.products.selling">Products I Am Selling</a></li>
                    <li ui-sref-active="active"><a ui-sref="manage.products.sold">Products Sold</a></li>
                    <li ui-sref-active="active"><a ui-sref="manage.products.outOfStock">Products Out Of Stock</a></li>
                    <li ui-sref-active="active"><a ui-sref="manage.products.deactive">De-active Products</a></li>
                    <li ui-sref-active="active"><a ui-sref="manage.products.inDraft">Products In Draft</a></li>
                </ul>
            </li>
            <li class="ft-side-nav-group">Accounts
                <ul class="list-unstyled small">
                    <li ui-sref-active="active"><a ui-sref="manage.funtownAccount">Funtown Account</a></li>
                    <li ui-sref-active="active"><a ui-sref="manage.paynowAccount">Pay now Account</a></li>
                </ul>
            </li>
        </ul>
    </div>                    
</div>    
<div data-ui-view class="ft-main-content"></div>