<div class="col-md-12">
	<h3 class="ft-main-content-title" data-ng-bind="headTitle"></h3>
	<div class="ft-steps">
		<a class="col-md-2" ui-sref-active="active" ui-sref="manage.{{title}}Product.step1">
			<span class="ft-step-num">1</span>
			<span class="ft-step-text">Category</span>
		</a>
		<a class="col-md-2" ui-sref-active="active" ui-sref="manage.{{title}}Product.step2" data-ng-disabled="isStepDeactive(2)">
			<span class="ft-step-num">2</span>
			<span class="ft-step-text">Product</span>
		</a>
		<a class="col-md-2" ui-sref-active="active" ui-sref="manage.{{title}}Product.step3" data-ng-disabled="isStepDeactive(3)">
			<span class="ft-step-num">3</span>
			<span class="ft-step-text">Product Information</span>
		</a>
		<a class="col-md-2" ui-sref-active="active" ui-sref="manage.{{title}}Product.step4" data-ng-disabled="isStepDeactive(4)">
			<span class="ft-step-num">4</span>
			<span class="ft-step-text">Pricing</span>
		</a>
		<a class="col-md-2" ui-sref-active="active" ui-sref="manage.{{title}}Product.step5" data-ng-disabled="isStepDeactive(5)">
			<span class="ft-step-num">5</span>
			<span class="ft-step-text">Shipping & Payment</span>
		</a>
		<a class="col-md-2" ui-sref-active="active" ui-sref="manage.{{title}}Product.step6" data-ng-disabled="isStepDeactive(6)">
			<span class="ft-step-num">6</span>
			<span class="ft-step-text">Confirm</span>
		</a>
	</div>
</div>
<div ui-view></div>
