<div class="col-md-12">
	<div class="ft-card ft-card-no-margin">
		<h4>Product</h4>
		<form name="configProduct" class="ft-data-form" novalidate>
			<div class="row">
				<b class="col-md-12">
					<input type="radio" name="catalogType" value="auto" data-ng-model="cache.state.catalogType" checked data-ng-click="catalogTypeChange()"> Search product in funtown <span data-ng-bind="cache.product.category.categoryName"> </span> catalog
				</b>
				<div class="col-md-12">
					<input type="text" size="50" class="form-control" data-ng-model="cache.state.selectedCatalog" bs-options="catalog as catalog.title for catalog in searchCatalogue($viewValue)" placeholder="Enter title to search in funtown catalog" data-ng-disabled="showManualDetails()" bs-on-select="showCatalogDetail" data-auto-select="true"  data-limit="8" data-trim-value="false" ng-trim="false" bs-typeahead>
					<small class="credit">Powered by themoviedb</small>
				</div>
			</div>
			<div class="row">	
				<b class="col-md-12">
					<input type="radio" name="catalogType" value="manual" data-ng-model="cache.state.catalogType" data-ng-click="catalogTypeChange()"> Create product manually
				</b>
			</div>		
			<!-- Auto Details-->
			<div data-ng-if="showAutoDetails()">
				<div class="separator"></div>				
				<div class="col-md-8">
					<div class="row">	
						<label class="col-md-3 ft-details-label">
							Title
						</label>
						<div class="ft-details-data" data-ng-bind="cache.product.catalog.title"></div>
					</div>
					<div class="row" data-ng-repeat="attribute in cache.product.catalog.catalogAttributes" data-ng-if="isDisplayable(attribute)">	
						<label class="col-md-3 ft-details-label" data-ng-bind="attribute.attributeType"></label>
						<div class="ft-details-data" data-ng-class="attribute.attributeType" data-ng-bind="attribute.attributeValue"></div>
					</div>
				</div>	
				<div class="ft-catalog-preview col-md-4">
					<img class="ft-catalog-poster" data-ng-src="{{poster}}">
				</div>
			</div>
			<!-- Manual details form-->
			<div data-ng-if="showManualDetails()">								
					<div  class="col-md-8">
						<div class="row">	
							<label class="col-md-3">
								Title
								<div class="error" ng-messages="configProduct.title.$error">
			    					<p ng-message="required">Required</p>
			    				</div>
							</label>
							<input size="50" type="text" class="form-control" name="title" ng-model="cache.product.catalog.title" required>
						</div>
						<div class="row">
							<label for="genre" class="col-md-3">
								Genre
								<div class="error" ng-messages="configProduct.genre.$error">
			    					<p ng-message="required">Required</p>
			    				</div>
							</label>
							<button type="button"  name="genre" class="btn btn-select" ng-model="cache.state.manualcatalog.genre" bs-options="genre.value as genre.display for genre in genres" required bs-select>
  				 			Genre<span class="caret"></span>
						</div>
						<div class="row">	
							<label class="col-md-3">
								Description
								<div class="error" ng-messages="configProduct.description.$error">
				    				<p ng-message="required">Required</p>
				    			</div>
							</label>
							<textarea class="form-control" cols="48" rows="6" name="description" ng-model="cache.state.manualcatalog.description" required></textarea>
						</div>
					</div>
					<div class="ft-catalog-preview"></div>
			</div>			
			<div class="col-md-12 separator"></div>
			<div class="col-md-12" flow-init			
				flow-file-added="photoAdded($file, $event, $flow)"				
			>								
				<div class="row">
					<label class="col-md-2 no-padding" for="extraDetails">
						Photos
						<br>
						<small>Max: <span data-ng-bind="maxPhotos"></span>. Current: <span data-ng-bind="photoCount"></span></small>
					</label>
					<div class="ft-catalog-preview  no-padding col-md-5">						
						<div class="ft-catalog-photo" data-ng-repeat="photo in cache.product.productPhotos">
							<img flow-img="photo.file" class="img-responsive" data-ng-if="photo.file.file"/>
							<a href="" data-ng-click="photoRemove($index)" data-ng-if="photo.file.file">
								<small><i class="icon fa fa-sm fa-minus-circle"></i> Remove</small>
							</a>
						</div>
					</div>
					<div class="col-md-5 drop-zone" flow-drop ng-class="dropClass" data-ng-if="photoCount < maxPhotos">
						<h4>
							Drag And Drop your product images here.							
						</h4>

						<small>Png, Jpg, Jpeg files only.</small>
						<small>Max 3 photos per product.</small>

						<span class="btn btn-rounded" flow-btn>Upload Image
							<input type="file" multiple="multiple" class="file-upload">
						</span>
						<span class="btn btn-rounded" flow-btn flow-directory data-ng-show="$flow.supportDirectory">Upload Folder of Images
							<input type="file" multiple="multiple" webkitdirectory="webkitdirectory" class="file-upload">
						</span>
					</div>										
				</div>
			</div>			
		</form>
		<div class="ft-card-footer col-md-12 text-center">
			<button class="btn" ui-sref="manage.{{title}}Product.step1">
                <i class="fa fa-chevron-left"></i> Previous 
            </button>
            <button class="btn" data-ng-click="saveDraft()" data-ng-disabled="isDraftDisabled()">
                <i class="fa fa-file-text"></i> Save Draft 
            </button>
            <button class="btn" confirm-alert>
                <i class="fa fa-eraser"></i> Reset
            </button>
            <button class="btn" data-ng-disabled="isNextDisabled()" ui-sref="manage.{{title}}Product.step3">
                Next <i class="fa fa-chevron-right"></i>
            </button>
        </div>
	</div>
</div>		