<div class="col-md-12">
	<div class="ft-card ft-card-no-margin">
		<h4>Product</h4>
		<div class="ft-data-form">
			<div class="row">
				<b class="col-md-12">
					<input type="radio" name="catalogType" value="auto" data-ng-model="product.catalogType" checked data-ng-click="catalogTypeChange()"> Search product in funtown <span data-ng-bind="product.category.categoryName"> </span> catalog
				</b>
				<div class="col-md-12">
					<input type="text" size="50" class="form-control" data-ng-model="selectedCatalog" data-auto-select="false" data-limit="8" bs-options="catalog as catalog.title for catalog in searchCatalogue($viewValue)" placeholder="Enter title to search in funtown catalog" data-ng-disabled="showManualDetails()" bs-on-select="showCatalogDetail" bs-typeahead>
					<small class="credit">Powered by themoviedb</small>
				</div>
			</div>
			<div class="row">	
				<b class="col-md-12">
					<input type="radio" name="catalogType" value="manual" data-ng-model="product.catalogType" data-ng-click="catalogTypeChange()"> Setup product manually
				</b>
			</div>		
			<!-- Auto Details-->
			<div data-ng-if="showAutoDetails()">
				<div class="separator"></div>				
				<div class="col-md-8">
					<div class="row">	
						<label class="col-md-3 ft-details-label">
							Title
						</label>
						<div class="ft-details-data" data-ng-bind="product.catalog.title"></div>
					</div>
					<div class="row" data-ng-repeat="attribute in product.catalog.catalogAttributes" data-ng-if="isNotPoster(attribute)">	
						<label class="col-md-3 ft-details-label" data-ng-bind="attribute.attributeType"></label>
						<div class="ft-details-data" data-ng-bind="attribute.attributeValue"></div>
					</div>
				</div>	
				<div class="ft-catalog-preview col-md-4">
					<img class="ft-catalog-poster" data-ng-src="{{poster}}">
				</div>
			</div>
			<!-- Manual details form-->
			<div data-ng-if="showManualDetails()">
				<div class="separator"></div>				
				<div  class="col-md-8">
					<div class="row">	
						<label class="col-md-3">
							Title
						</label>
						<input size="50" type="text" class="form-control" name="title" ng-model="product.catalog.title">
					</div>
					<div class="row">	
						<label class="col-md-3">
							Description
						</label>
						<textarea class="form-control" cols="48" rows="6" name="description" ng-model="product.catalog.description"></textarea>
					</div>
				</div>
				<div class="ft-catalog-preview"></div>
			</div>			
		</div>
				
		<div class="ft-card-footer col-md-12 text-center">
			<button class="btn" ui-sref="manage.addProduct.step1">
                <i class="fa fa-chevron-left"></i> Previous 
            </button>
            <button class="btn" data-ng-click="saveDraft()">
                <i class="fa fa-file-text"></i> Save Draft 
            </button>
            <button class="btn" data-ng-click="cancel()">
                <i class="fa fa-trash"></i> Cancel
            </button>
            <button class="btn" data-ng-disabled="isNextDisabled()" ui-sref="manage.addProduct.step3">
                Next <i class="fa fa-chevron-right"></i>
            </button>
        </div>
	</div>
</div>		