<div class="col-md-12">
	<div class="ft-card ft-card-no-margin">
		<h4>Pricing & Payment</h4>
		<div class="ft-data-form">		
			<div class="row">				
				<label class="col-md-3">
					Product Price
				</label>
				<input type="text" size="15" class="form-control" name="buyNowPrice" data-ng-model="product.buyNowPrice" required>
			</div>					
			<div class="separator"></div>		
			<div class="row">
				<label class="col-md-12">Accepted Payment Types</label>	
				<div class="col-md-12" data-ng-repeat="paymentMethod in paymentMethods">
					<input type="checkbox" data-ng-model="product.paymentMethods[paymentMethod.value]" ng-click="addpaymentMethod()">&nbsp;&nbsp;
					<span data-ng-bind="paymentMethod.display"></span>
				</div>
			</div>
	    </div>    
	    <div class="ft-card-footer col-md-12 text-center">
            <button class="btn" ui-sref="manage.addProduct.step3">
                <i class="fa fa-chevron-left"></i> Previous 
            </button>
            <button class="btn" data-ng-click="saveDraft()">
                <i class="fa fa-file-text"></i> Save Draft 
            </button>
            <button class="btn" data-ng-click="cancel()">
                <i class="fa fa-trash"></i> Cancel
            </button>
            <button class="btn" data-ng-disabled="isNextDisabled()" data-ng-click="showProduct()" ui-sref="manage.addProduct.step5">
                Next <i class="fa fa-chevron-right"></i>
            </button>
        </div>
	</div>
</div>















