<div class="col-md-12">
	<div class="ft-card ft-card-no-margin">
		<h4>Shipping & Payment</h4>
		<form name="shippingInfo" class="ft-data-form" novalidate>		
			<div class="row">
				<label class="col-md-3" for="shippingRateId">
					Shipping Rate
					<div class="error" ng-messages="shippingInfo.shippingRateId.$error">
			    		<p ng-message="required">Required</p>
					</div>
				</label>
				<button type="button" class="btn btn-select" name="shippingRateId" data-ng-model="cache.product.shippingRateId" bs-options="shippingRate.attributeId as shippingRate.display for shippingRate in shippingRates" required bs-select>Shipping rate<span class="caret"></span></button>				
			</div>
			<div class="row">
				<label class="col-md-3" for="pickUp">
					Pick up
					<div class="error" ng-messages="shippingInfo.pickUp.$error">
			    		<p ng-message="required">Required</p>
					</div>
				</label>
				<button class="btn btn-select" type="button" name="pickUp" data-ng-model="cache.state.pickUp" bs-options="pickUp.value as pickUp.display for pickUp in pickUps" bs-select bs-on-select="processPickUp" required><span class="caret"></span></button>
			</div>
			<div class="row">
				<label class="col-md-3" for="shippingType">
					Costs
					<div class="error" ng-messages="shippingInfo.shippingType.$error">
			    		<p ng-message="required">Required</p>
					</div>
				</label>					
				<fieldset class="col-md-6 ft-shipping-costs col-md-9" data-ng-disabled="shippingDisabled">
					<div class="row no-padding">
						<label>							
							<input type="radio" name="shippingType" data-ng-model="cache.state.shippingType" value="free" data-ng-required="isNotOnlyPick()" data-ng-click="processFreeShipping()" >&nbsp;&nbsp;<span>Free shipping within New Zealand</span>							
						</label>
					</div>
					<div class="row no-padding">
						<label>
							<input type="radio" name="shippingType" data-ng-model="cache.state.shippingType" value="specific" data-ng-required="isNotOnlyPick()" data-ng-click="processSpecificCost()">&nbsp;&nbsp;<span>Specify shipping costs</span>			
						</label>
						<fieldset class="ft-fieldset" data-ng-if="hasSpecificShipping()">
							<div data-ng-repeat="shippingCost in cache.state.shippingCosts">
								<div class="ft-col">									
									<input type="text" class="form-control" name="desc{{$index}}" size="25" placeholder="Description" data-ng-model="shippingCost.description" required>
									<span class="error" ng-messages="shippingInfo['desc' + $index].$error">
						    			<div ng-message="required">Required</div>
									</span>										
								</div>
								<div class="ft-col">
									NZ$
									<input type="number" class="form-control" name="cost{{$index}}" number-input placeholder="Cost" data-ng-model="shippingCost.cost" required>		
									<span class="error" ng-messages="shippingInfo['cost' + $index].$error">
						    			<div ng-message="required">Required</div>
									</span>
								</div>
								<div class="ft-col" data-ng-if="cache.state.shippingCosts.length>1">
									<a href="" data-ng-click="removeCostOption(shippingCost)">
										<i class="icon fa fa-minus-circle"></i>
									</a>									
								</div>
							</div>							
							<a class="ft-col"  href="" data-ng-click="addCostOption()">
								<i class="icon fa fa-plus-circle"></i>
								Add another shipping option
							</a>		
						</fieldset>
					</div>
					<div class="row no-padding">
						<ng-form name="template">
						<label>
							<input type="radio" name="shippingType" data-ng-model="cache.state.shippingType" value="template" data-ng-required="isNotOnlyPick()" data-ng-click="processUseTemplate()">&nbsp;&nbsp;<span>Use shipping templates</span>
						</label>						
						<div class="ft-fieldset" data-ng-if="hasShippingTemplate()">
							<div class="ft-col" data-ng-if="haveNoTemplate">
								<div data-ng-show="mode">
									Add template
								</div>
								<div data-ng-show="!cache.templateDisplay">
									You have no shipping template to select from.
									<br>
									<a href="" class="active" data-ng-click="addShippingTemplate()">Create a new template.</a>
								</div>
							</div>
							<div class="ft-col" data-ng-if="!haveNoTemplate">
								<div data-ng-show="mode">
									<span data-ng-bind="mode"></span> template
								</div>
								<span data-ng-show="!mode">
									<button type="button" name="templateDisplay" class="btn btn-select" data-ng-model="cache.templateDisplay" bs-options="template as template.templateName for template in templates" bs-select>Template name<span class="caret"></span>
									</button>&nbsp;&nbsp;&nbsp;
									<a href="" data-ng-click="addShippingTemplate()">
										<i class="icon fa fa-plus-circle"></i>
										Add a new template
									</a>		
								</span>					
							</div>							
							<fieldset class="ft-fieldset-light" data-ng-if="cache.templateDisplay" data-ng-disabled="templateReadOnly" data-ng-class="{readOnly:templateReadOnly}">
								<div class="ft-col" data-ng-show="!templateReadOnly">
									<label>
										Template name
										<span class="error" ng-messages="template.templateName.$error">
							    			<p ng-message="required">Required</p>
										</span>
									</label>
									<input type="text" class="form-control" placeholder="Name for your reference" data-ng-model="cache.templateDisplay.templateName" required name="templateName" maxlength="30" size="35">
								</div>
								<div data-ng-repeat="shippingCost in cache.templateDisplay.shippingCosts">
									<div class="ft-col">
										<input type="text" class="form-control" name="desc{{$index}}" size="25" placeholder="Description" data-ng-model="shippingCost.description" required>
										<span class="error" ng-messages="template['desc' + $index].$error">
							    			<p ng-message="required">Required</p>
										</span>										
									</div>
									<div class="ft-col">
										NZ$
										<input type="number" class="form-control" name="cost{{$index}}" number-input placeholder="Cost" data-ng-model="shippingCost.cost" required>
										<span class="error" ng-messages="template['cost' + $index].$error">
							    			<p ng-message="required">Required</p>
										</span>
									</div>
									<div class="ft-col" data-ng-if="cache.templateDisplay.shippingCosts.length>1 && !templateReadOnly">
										<a href="" data-ng-click="editTemplateRemoveCost(shippingCost)">
											<i class="icon fa fa-minus-circle"></i>
										</a>									
									</div>
								</div>	
									<a class="ft-col" href="" data-ng-click="editTemplateAddCost()" data-ng-show="!templateReadOnly">
										<i class="icon fa fa-plus-circle"></i>
										Add another shipping option
									</a>
							</fieldset>
							<div  class="alerts-container" data-ng-show="cache.templateDisplay">
								<a class="ft-col"  href="" data-ng-show="templateReadOnly" data-ng-click="processEditTemplate()"><i class="fa fa-pencil"></i>
								 Edit</a>
								<a class="ft-col" href="" data-ng-show="templateReadOnly" confirm-alert details={{alertMessage.delete}}><i class="fa fa-trash"></i>
								 Delete</a>
								<a class="ft-col" href="" data-ng-show="!templateReadOnly" confirm-alert details={{alertMessage.save}} data-ng-disabled="cannotSave">Save</a>
								<a class="ft-col" href="" data-ng-show="!templateReadOnly" data-ng-click="cancelEditTemplate()">Cancel</a>	
							</div>								
						</div>	
							<!--<fieldset data-ng-if="addTemplate">
								<div class="separator"></div>
								<h4 data-ng-bind="templateOperator"></h4>
								<div>
									<div class="row">
										<label class="col-md-3" for="addShippingTemplateName">
											Template name:
										</label>
										<input type="text" class="form-control" placeholder="Template 1" data-ng-model="addTemplate.templateName" required>
										<span class="error" ng-messages="shippingInfo.addShippingTemplateName.$error">
							    			<p ng-message="required">Required</p>
										</span>
									</div>
									<fieldset data-ng-repeat="shippingCost in cache.state.shippingCosts">
										<div>
											<div class="ft-col">
												NZ$
												<input type="number" class="form-control" name="cost{{$index}}" number-input placeholder="Cost" data-ng-model="shippingCost.cost" required>		
												<span class="error" ng-messages="shippingInfo['cost' + $index].$error">
									    			<p ng-message="required">Required</p>
												</span>
											</div>
											<div class="ft-col">	
												<input type="text" class="form-control" name="desc{{$index}}" size="25" placeholder="Description" data-ng-model="shippingCost.description" required>
												<span class="error" ng-messages="shippingInfo['desc' + $index].$error">
									    			<p ng-message="required">Required</p>
												</span>										
											</div>
											<div class="ft-col" data-ng-if="$index>0">
												<a href="" data-ng-click="removeCostOption(shippingCost)">
													<i class="icon fa fa-minus-circle"></i>
												</a>									
											</div>
										</div>
									</fieldset>
									<a href="" data-ng-click="addCostOption()" data-ng-show="templateReadOnly">
										<i class="icon fa fa-plus-circle"></i>
										Add another shipping option
									</a>
								</div>
								<button class="btn" ng-click="postNewTemplate()">
									Add
								</button>
								<button class="btn" ng-click="cancelAddTemplate()">
									Cancel
								</button>	
								-->				
						</ng-form> 
					</div>
				</fieldset>
			</div>
			<div class="separator"></div>		
			<div class="row">
				<label class="col-md-12">
					Accepted Payment Types
					<div class="error" ng-messages="priceInfo.paymentType.$error">
			    		<p ng-message="required">Required</p>
			    	</div>
				</label>
				<div class="ft-form-list col-md-12" data-ng-repeat="paymentMethod in cache.product.paymentMethods">
					<fieldset data-ng-disabled="noCashPayment && paymentMethod.display == 'Cash'">
						<input type="checkbox" ng-required="atleastOneChecked()" name="paymentType" data-ng-model="paymentMethod.selected" ng-checked="paymentMethod.selected">&nbsp;&nbsp;
						<span data-ng-bind="paymentMethod.display"></span>
					</fieldset>
				</div>
			</div>
		</form>
		<div class="ft-card-footer col-md-12 text-center">
	            <button class="btn" ui-sref="manage.{{title}}Product.step4">
	                <i class="fa fa-chevron-left"></i> Previous 
	            </button>
	            <button class="btn" data-ng-click="storeShippingCosts(true)" data-ng-if="isDraftMode">
	                <i class="fa fa-file-text"></i> Save Draft 
	            </button>
	            <button class="btn" data-ng-click="edit(pid)" data-ng-if="!isDraftMode">
                <i class="fa fa fa-check-circle"></i> Save
            	</button>     
	            <button class="btn" confirm-alert details={{alertMessage.confirm}}>
	                <i class="fa fa-eraser"></i> Reset
	            </button>
	            <button class="btn" data-ng-disabled="isNextDisabled" data-ng-click="storeShippingCosts()" ui-sref="manage.{{title}}Product.step6">
	                Next <i class="fa fa-chevron-right"></i>
	            </button>
	    </div>
	</div>    
</div>