<h3 class="ft-main-content-title">My Products</h3>


<!-- <div bs-active-pane="tabs.activeTab" bs-tabs>
  <div ng-repeat="tab in tabs" data-title="{{ tab.title }}" name="{{ tab.title }}" disabled="{{ tab.disabled }}" ng-bind="tab.content" bs-pane>
  </div> -->
<div class="col-md-12">
	<ul class="nav nav-tabs" role="tablist">	
		<li  data-ng-repeat="tab in tabs" ui-sref-active="active"><a data-ui-sref="{{tab.state}}" data-toggle="tab" data-ng-bind="tab.title"></a></li>
	</ul>

	<div class="nav-tab-body" data-ui-view>
		Content
	</div>

</div>
