<div class="nav-tab-body">	
	<div  class="ft-card ft-card-padded">
		Sort / Search
	</div>
	<div  class="ft-card ft-card-padded">
		<div class="alerts-container">
			<button class="btn" data-ng-click="activateProduct()" ng-disabled="productsChosen.length === 0" ng-if="btnIsVisible">
				<i class="fa fa-play"></i> Activate
			</button>
			<button class="btn" data-ng-click="deactivateProduct()" ng-disabled="productsChosen.length === 0" ng-if="btnIsVisible">
				<i class="fa fa-stop"></i> De-Activate
			</button>
			<button class="btn"  ng-disabled="productsChosen.length === 0" confirm-alert>
				<i class="fa fa-trash"></i> Delete
			</button>
		</div>
		<table class="table">
			<thead class="ft-table-header">
				<tr class="row">			
					<th>
						<input type="checkbox" data-ng-model="chooseAll" data-ng-click="selectAll()" data-ng-selected="chooseAll">
					</th>
					<th>
						Product
					</th>
					<th>
						Status
					</th>
					<th class="text-right">
						Stock
					</th>
					<th class="text-right">
						Buy Now Price <small>(NZ$)</small>
					</th>
					<th class="text-right">
						Offer Price <small>(NZ$)</small>
					</th>
					<th class="text-right">
						Offer Duration
					</th>							
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="product in products" class="row">
					<td>
						<input type="checkbox" data-ng-model="product.selected" data-ng-checked="product.selected" data-ng-click="changeSelectedProducts(product)">
					</td>
					<td>
						<a href="#" data-ng-bind="product.title"></a>				
						<p class="no-margin">Code: <span data-ng-bind="product.productCode"></span></p>
						<p class="no-margin">SKU: <span data-ng-bind="product.sku"></span></p>
					</td>
					<td data-ng-bind="product.status"></td>
					<td data-ng-bind="product.stock" class="text-right"></td>
					<td data-ng-bind="product.buyNowPrice" class="text-right"></td>
					<td data-ng-bind="product.offerPrice" class="text-right"></td>
					<td data-ng-bind="product.offerDuration"  class="text-right"></td>					
				</tr>
			</tbody>
		</table>
	</div>
</div>