<h3 class="ft-main-content-title">Add Product</h3>
<div>
	<ul>
		<li style="display: inline;" ui-sref-active="active" ui-sref="manage.addProduct.step1">Category</li>&nbsp;&nbsp;&gt;&nbsp;
		<li style="display: inline;" ui-sref-active="active" ui-sref="manage.addProduct.step2">Title</li>&nbsp;&nbsp;&gt;&nbsp;
		<li style="display: inline;" ui-sref-active="active" ui-sref="manage.addProduct.step3">Product information</li>&nbsp;&nbsp;&gt;&nbsp;
		<li style="display: inline;" ui-sref-active="active" ui-sref="manage.addProduct.step4">Pricing and payment</li>&nbsp;&nbsp;&gt;&nbsp;
		<li style="display: inline;" ui-sref-active="active" ui-sref="manage.addProduct.step5">Shipping options</li>
	</ul>
</div><hr>
<div ui-view></div>