<div class="nav-tab-body" data-ng-if="!getProductCount()">
	<div  class="ft-card ft-card-padded">
		No related products found.
	</div>
</div>

<div class="nav-tab-body" data-ng-if="getProductCount()">	
	<div  class="ft-card ft-card-padded">
		Sort / Search
	</div>
	<div  class="ft-card ft-card-padded">
		<div class="alerts-container">
			<button class="btn" data-ng-click="activateProduct()" ng-disabled="checkLength(productsChosen)" data-ng-if="btnIsVisible && mode !== 'activate'">
				<i class="fa fa-play"></i> Activate
			</button>
			<button class="btn" data-ng-click="deactivateProduct()" ng-disabled="checkLength(productsChosen)" data-ng-if="btnIsVisible && mode !== 'deactivate'">
				<i class="fa fa-stop"></i> De-Activate
			</button>
			<button class="btn"  ng-disabled="checkLength(productsChosen)" confirm-alert details={{alertMessage.confirm}}>
				<i class="fa fa-trash"></i> Delete
			</button>
		</div>
		<table class="table table-hover">
			<thead class="ft-table-header">
				<tr class="row">			
					<th>
						<input type="checkbox" data-ng-model="chooseAll" data-ng-click="selectAll()" >
					</th>
					<th>
						Product
					</th>
					<th>
						Status
					</th>
					<th class="text-right">
						Stock
					</th>
					<th class="text-right">
						Buy Now Price <small>(NZ$)</small>
					</th>
					<th class="text-right">
						Offer Price <small>(NZ$)</small>
					</th>
					<th class="text-right">
						Offer Duration
					</th>							
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="product in products" class="row" data-ng-if = "products.length !== 0">
					<td>
						<input type="checkbox" data-ng-model="product.selected" data-ng-checked="chooseAll" data-ng-click="changeSelectedProducts(product)">
					</td>
					<td data-ng-click="editProduct(product.productId)">
					<b class="no-margin" data-ng-bind="product.title"></b>				
					<p class="small no-margin">Code: <span data-ng-bind="product.productCode"></span></p>
					<p class="small no-margin">Created: <span data-ng-bind="product.createdDate | date: 'dd MMM yyyy hh:mma'"></span></p>
					<p class="small no-margin">Last Modified: <span data-ng-bind="product.lastModifiedDate | date: 'dd MMM yyyy hh:mma'"></span></p>
					</td>
					<td data-ng-bind="product.status" data-ng-click="editProduct(product.productId)"></td>
					<td data-ng-bind="product.stock==-1?'Unlimited':product.stock" class="text-right" data-ng-click="editProduct(product.productId)"></td>
					<td data-ng-bind="product.buyNowPrice" class="text-right" data-ng-click="editProduct(product.productId)"></td>
					<td data-ng-bind="product.offerPrice" class="text-right" data-ng-click="editProduct(product.productId)"></td>
					<td data-ng-bind="product.offerDuration"  class="text-right" data-ng-click="editProduct(product.productId)"></td>	
				</tr>
			</tbody>
		</table>
	</div>
</div>