<!-- <h3 class="ft-main-content-title"></h3>
<div class="ft-side-nav">
    <div class="ft-card ft-card-buy">
        <ul class="list-unstyled">
            <li class="linked" ui-sref-active="active"><a>Departments</a></li>
            <li class="ft-side-nav-group">
                <ul class="list-unstyled small">
                    <li ui-sref-active="active"><a ui-sref="buy.funtownVideo">Funtown Video</a></li>
                    <li ui-sref-active="active"><a ui-sref="buying.funtownMusic">Funtown Music</a></li>
                    <li ui-sref-active="active"><a ui-sref="buying.appstoreForAndroid">Appstore for Android</a></li>
                    <li ui-sref-active="active"><a ui-sref="buying.funtownVideo">Prime Photos and Prints</a></li>
                    <li ui-sref-active="active"><a ui-sref="buying.funtownVideo">Kindle E-reader & Books</a></li>
                    <li ui-sref-active="active"><a ui-sref="buying.funtownVideo">Fire Tablets</a></li>
                    <li ui-sref-active="active"><a ui-sref="buying.funtownVideo">Fire TV</a></li>
                    <li ui-sref-active="active"><a ui-sref="buying.funtownVideo">Echo & Alexa</a></li>
                 </ul>
            </li>
            <li class="ft-side-nav-group">
                <ul class="list-unstyled small">
                    <li ui-sref-active="active"><a ui-sref="buying.funtownVideo">Books & Audible</a></li>
                    <li ui-sref-active="active"><a ui-sref="buying.funtownVideo">Movies, Music & Games</a></li>
                    <li ui-sref-active="active"><a ui-sref="buying.funtownVideo">Eletronic & Computers</a></li>
                    <li ui-sref-active="active"><a ui-sref="buying.funtownVideo">Home, Garden & Tools</a></li>
                    <li ui-sref-active="active"><a ui-sref="buying.funtownVideo">Beauty, Health & Food</a></li>
                    <li ui-sref-active="active"><a ui-sref="buying.funtownVideo">Toy, Kids & Baby</a></li>
                    <li ui-sref-active="active"><a ui-sref="buying.funtownVideo">Clothing, Shoes & Jewelry</a></li>
                    <li ui-sref-active="active"><a ui-sref="buying.funtownVideo">Hademade</a></li>
                    <li ui-sref-active="active"><a ui-sref="buying.funtownVideo">Sport & Outdoors</a></li>
                    <li ui-sref-active="active"><a ui-sref="buying.funtownVideo">Automotive & Industrial</a></li>
                  </ul>
            </li>
            <li class="ft-side-nav-group">
                <ul class="list-unstyled small">
                    <li ui-sref-active="active"><a ui-sref="buying.funtownVideo">Home Services</a></li>
                    <li ui-sref-active="active"><a ui-sref="buying.funtownVideo">Credit & Payment Products</a></li>
                    <li ui-sref-active="active"><a ui-sref="buying.funtownVideo">Full Store Directory</a></li>

                </ul>
            </li>
        </ul>
    </div>
</div>
<div data-ui-view class="ft-main-content"></div> -->
