<div class="container">

  <div class="ft-card ft-card-padded">
    1-16 of 29,434 results for "iron man"
    <table class="table table-hover">
      <tbody>
        <tr class="row">
          <td>
            poster
          </td>
          <td>
            <h4><b class="no-margin" data-ng-bind="searchResult.title"></b></h4>
            <p></p>
            <p class="small no-margin"><span data-ng-bind="searchResult.categoryName"></span></p>
            <p class="small no-margin"><b>$<span data-ng-bind="searchResult.buyNowPrice"></span></b>  buy now</p>
          </td>
          <td>
            <h4></h4>
            <p class="small no-margin">Starring:  <span data-ng-bind="searchResult.starring"></span></p>
            <p class="small no-margin">Directed by:  <span data-ng-bind="searchResult.director"></span></p>
            <p class="small no-margin">Runtime:  <span data-ng-bind="searchResult.runtime"></span></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>

  </div>
</div>
