body{	
	font-size: 16px;
	background-color: #F2F2F2;
    color: #333;
    font-family: Open Sans,Arial,Helvetica,sans-serif,SimSun;
    line-height: 1.3;
    position: relative;
    min-height: 100%;
    top: 0px;
}

a{
	color: #333;
	position: relative;
	background: transparent;
	&:hover,&:focus,&:active,&.active{
		text-decoration: none;
		color: #f60;
	}
	&[disabled]{
				color: #e6e6e6;
				cursor: not-allowed;
				pointer-events: none;	
			}	
}

label{
	color: #333;
}

.form-control{
	width: auto;
}
.dropdown-menu > li{
	padding: 0px!important;
}
.dropdown-menu > li a{
	cursor: pointer;

	&:hover{		
		background: transparent;
		color:#f60;
	}
}
.dropdown-menu > li.active{
	a, a:hover{		
		background-color: #f2f2f2;		
	   	color:#f60;
	}
}
.btn , .btn:focus,.btn:hover,.btn[diabled]:hover{
	background: #e62e04;
    color: #fff;
    border: 1px solid #e62e04;
    border-radius:0 
}
.btn-select,.btn-select:focus,.btn-select:hover,.btn-select[diabled]:hover{
	background: #fff;
	color: #333;
	border: 1px solid #ccc;
	border-radius: 4px;
	min-width: 175px;
	text-align: left;
	.caret{
		float: right;
		margin-top: 9px;
	}
}
.form-control{
	box-shadow: none;
	border: 1px solid #ccc;
	display: inline-block;
}


.ft-header{
	position: relative;
	width: 100%;
	height: 70px;
	background-color:#fff;
	border-bottom: 1px solid #e9e9e9; 

	.header-left{
		position: relative;
		float: left;
		color: #e62e04;
		font-size: 1.5em;	
		width: 250px;
		padding-top: 20px;
		z-index: 100;
	}
	.header-middle{
		position: relative;
		padding:15px 0;		    	
	}

	.header-right{
		position: relative;
		float: right;
		padding-left: 20px;
		padding-top: 12px;
		z-index: 100;
		.ft-top-nav{
			padding-top: 10px;

			a{
				padding-right: 10px;
				height: 25px;
			}
		}
	}
}


.search-box{
	display: table;
	text-align: center;		
	padding:0; 	
	height: 40px;
	width: 50%;
	input{
		display: table-cell;
		width: 100%;
		height: 40px;
		padding-left: 15px;
		border:1px solid #cbcbcb;
		border-radius: 3px 0 0 3px;
		border-right:0; 
		outline: 0;
	}
	.search-button{
		display: table-cell;
	    width: 50px;
	    color: #fff;
	    background: #e62e04;
	    border: 1px solid #e62e04;
	    border-radius: 0 3px 3px 0;
	}

}

.navbar{
	background: #fff;
	border-radius: 0;
	border: 0;
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 0;
	.navbar-nav{
		width: 100%;
		
		li{
			text-align: center;
			
			&.active a,&.active a:hover,&.active a:focus{
				color:#f60;
				background: transparent;
			}
		
			a{
				color: #333;
				background: transparent;
			
				&:hover, &:focus{
					color:#f60;
					background: transparent;
				}	
				
			}	
						
		}	
	}
}

.ft-side-nav{
	top: 120px;
	position: absolute;
	width: 230px;
	margin: 6px 15px;		
	
	.ft-side-nav-group li{
		border-left: 3px solid transparent;
		margin: 0 -15px;
		padding: 5px 30px; 
	}
	.ft-side-nav-group ul{
		margin: 0;
	}
	ul{
		margin: 10px 0;
	}
	
	li.active {		
		border-left: 3px solid #f60;
    	background-color: #f2f2f2;		
    	a{
    		color:#f60;
    	}
	}
}

.ft-main-content{
	display: table;
	width: 100%;
	padding-left: 250px;
	padding-bottom: 60px;

	h3{
		padding: 0px;
	}

	.ft-main-title{
		height: 40px;
		line-height: 2;
		background: #e62e04;
		color: #fff;
		width: 100%;
	}
}

.ft-card{	
	display: table;
	width: 100%;
	margin:15px 0;
	background: #fff;	 
	border: 1px solid #e9e9e9;
	.ft-card-title{
		text-align: center;
	    margin: 0;
	    margin-bottom: 15px;
	    padding: 10px 0;
	    background: #f2f2f2;	    
	    background: #e62e04;
	    color: #fff;
	}

	.ft-card-footer{
		padding: 15px;
		width: calc(100% + 30px);
		margin: 30px 0px -15px -15px;	
		border-top: 2px solid #e9e9e9;
		background: #fafafa;
	}

	&.ft-card-ht{
		min-height: 250px;
	}

	&.ft-card-no-margin{
		margin:0;
		padding: 15px;
	}

	.ft-profile{
		padding: 15px;		
	}
	.ft-profile-member{
		min-height: 115px;
		background: #fafafa;
		border-right: 1px solid #e9e9e9;
	}

	li{
		padding: 5px 15px; 
	}

	.separator{
		margin: 15px 0;
		width: 100%;
		display: block;
		border-bottom: 1px solid #e9e9e9; 
	}

}

.ft-steps{
	background: #fafafa;
	padding: 15px;
	display: table;
    width: 100%;
    border: 1px solid #e9e9e9;

    a{
    	display: inline-block;
    	border-right: 1px solid #e6e6e6;
    	font-size: 0.8em;
    	text-align: center;

    	.ft-step-num{
			display: block;
			vertical-align: middle;
			text-align: center;
			width: 25px;
			height: 25px;	
	    	line-height: 1.6em;
	    	background: #f2f2f2;
			border: 1px solid #e6e6e6;			
			border-radius:50%; 
			margin: auto;	
			
	    }    
		.ft-step-text{
			margin-top: 5px;
			display: block;
		}
		
    	&:hover,&:active{
    		.ft-step-num{
    			
    		}	
    	}

    	&.active,&.active:hover{
			.ft-step-num{
				background: #f60;
				border: 1px solid #f60;
				color:#fff;
			}
			.ft-step-text{
				color: #f60;
			}
		}
    }
    a:last-child{
    	border-right: 0;
    }

    
}

.ft-badge{
	float:right;
    padding: 0 8px;
    margin-left: 5px;
    line-height: 16px;
    text-align: center;
    border-radius: 8px;
    background-color: #e62e04;
    color: #fff;
    font-size: 12px; 
}

.ft-badge-cart{
	position: absolute;
    left: 3px;
    top: -18px;
}

.nav-tabs{
	margin-top: 15px;
	border: 0;
	
	li{		
		margin:0 -1px 0 0;
		a{
			padding: 8px 20px;
			background: #fff;
			font-size: 0.8em;
			border-radius:0;
			border:1px solid #e9e9e9;			
			margin: 0;		

			&:hover,&:focus{
				background: #fff;
				border:1px solid #e9e9e9;				
			}
		}

	}	
		
	li.active a,li.active a:hover,li.active a:focus{
		background: #e62e04;
		color: #fff;
		border:1px solid #e62e04;
		margin: 0;	
	}

}
.nav-tab-body{
	border-top: 2px solid #e62e04;	
}
.ft-data-form{
	padding: 0 15px;
	display: table;
	width: 100%;

	.row{
		padding:10px 0;

		label{

		}
	}
}
.ft-multiselect{
	margin: 0px 0px;
	.ft-multiselect-title{
		background: #e9e9e9;		
		padding:15px;		
	}	
	.ft-multiselect-options {
		list-style: none;
		border:1px solid #e9e9e9;
    	padding: 0;
    	max-height: 300px;
    	overflow: hidden;
    	overflow: scroll; 

		li {
			padding:0;
			a{			
				display: block;
				width: 100%;
				border-bottom:1px solid #e9e9e9;
				padding:15px;
			}
			a.active{
		    	background-color: #f2f2f2;		
    			color:#f60;
			}			
		}	
	}
	.ft-multiselect-selected{
		background: #fafafa;
		list-style: none;
		border:1px solid #e9e9e9;
		margin: 0;
		padding: 0;
		padding: 0 10px; 
		li {
			padding:0;
			display: inline-block;
			a{			
				display: inline-block;
				padding:15px 5px;
			}		
			a[disabled]{
				color: #f60;				
			}				
		}		
	}
}
