<div class="container">
	<div class="row ft-card">
		<div class="col-md-8 col-md-offset-2">
			<div>
				<h1>Forgot your password?</h1>
			</div>
			<div class="separator"></div>
        <form name="passwordRemainder" novalidate ng-submit="authenticate()">
          <div class="panel panel-default">
            <div class="panel-body">
              <div>
                <p>Enter your email address and we'll send you password reset instructions.</p>
              </div>
              <div>
                <label for="email_address">
                  Email
                </label>
              </div>
              <div>
                <input type="email" size="30" name="email" data-ng-model="userPasswordRemainder.email" placeholder="Email address" class="form-control" required>
              </div>
              <br>
              <div>
                <button type="submit" class="btn buttom-buffer">Send instructions</button>
              </div>
            </div>
        </div>
        </form>
    </div>
  </div>
</div>
