<div class="container-fluid">
	<div class="register row ft-card">
		<div class="col-md-8 col-md-offset-2">
			<div>
				<h1>Register</h1>
			</div>
			<div class="separator"></div>
			<form name="register" novalidate ng-submit="authenticate()">
				<div class="row top-buffer">
					<div class="col-md-4">
						<label for="email_address">
							Email Address:
							<span class="mandatoryStar">*</span>
						</label>
					</div>
					<div class="col-md-8">
						<input type="email" size="30" name="email" data-ng-model="userRegister.email" placeholder="Email address" class="form-control" required>
						<div class="error" for="email_input_error" ng-messages="register.email.$error" data-ng-if="userRegister.authenticated">
				    		<p ng-message="email && required">Please enter a vaild email address</p>
						</div>
						<div class="error" data-ng-if="email_exist">
				    		<p>This email has been used</p>
						</div>
					</div>
				</div>
				<div class="row top-buffer">
					<div class="col-md-4">
						<label for="username">
							User Name:
							<span class="mandatoryStar">*</span>
						</label>
					</div>
					<div class="col-md-8">
						<input type="text" size="30" name="username" data-ng-model="userRegister.username" placeholder="User Name" class="form-control" required>
						<div class="error" for="username_error" ng-messages="register.username.$error" data-ng-if="userRegister.authenticated">
				    		<p ng-message="required">Please enter a Username</p>
						</div>
						<div class="error" data-ng-if="username_exist">
				    		<p>This username has been used</p>
						</div>
					</div>
				</div>
				<div class="row top-buffer">
					<div class="col-md-4">
						<label for="password">
							Password:
							<span class="mandatoryStar">*</span>
						</label>
					</div>
					<div class="col-md-8">
						<input type="password" size="30" name="password" data-ng-model="userRegister.password" placeholder="Password" class="form-control" ng-minlength="6" ng-maxlength="16">
						<div class="error" for="password_error" ng-messages="register.password.$error" data-ng-if="userRegister.authenticated">
				    		<p ng-message="required && minlength && maxlength">Please enter a 6-16 digit password</p>
						</div>
					</div>
				</div>
				<div class="row top-buffer">
					<div class="col-md-4">
						<label for="confirm_password">
							Confirm Your Password:
							<span class="mandatoryStar">*</span>
						</label>
					</div>
					<div class="col-md-8">
						<input type="password"  size="30" name="confirm_password" data-ng-model="userRegister.confirm_password" placeholder="Confirm Your Password" class="form-control" required>
						<div class="error" data-ng-if="userRegister.confirm_password !== userRegister.password && userRegister.authenticated">
				    		<p>The password is unmatch with previous password</p>
						</div>
					</div>
				</div>
				<div class="row top-buffer">
					<div class="col-md-4">
						<label>
							Full Name
							<span class="mandatoryStar">*</span>
						</label>
					</div>
					<div class="col-md-8">
						<input type="text" size="30" name="fullName" placeholder="e.g. David Bowie" class="form-control" data-ng-model="userRegister.fullName" required>
						<div for="error" class="error" ng-messages="register.fullName.$error" data-ng-if="userRegister.authenticated">
				    		<p ng-message="required">Please input your full name</p>
						</div>
					</div>
				</div>
				<div class="row top-buffer">
					<div class="col-md-4" class="gender">
						<label for="gender">
							Gender
							<span class="mandatoryStar">*</span>
						</label>
					</div>
					<div class="col-md-8">
						<input type="radio" name="genderOptions" value="male" data-ng-model="userRegister.genderOptions" required>
						<label for="genderMale">Male</label>
						<input type="radio" name="genderOptions" value="female" data-ng-model="userRegister.genderOptions" required>
						<label for="genderFemale">Female</label>
						<div for="error" class="error" ng-messages="register.genderOptions.$error" data-ng-if="userRegister.authenticated">
				    		<p ng-message="required">Please select your gender</p>
						</div>
					</div>
				</div>
				<div class="row top-buffer">
					<div class="col-md-4" class="dateOfBirth">
						<label for="dateOfBirth">
							Date of birth
							<span class="mandatoryStar">*</span>
						</label>
					</div>
					<div class="col-md-3">
						<div>
							<button type="button" name="DateOfBirthDay" class="btn btn-select" ng-model="userRegister.BirthDay" bs-options="DateOfBirthDay for DateOfBirthDay in userRegister.DateOfBirthDay" required bs-select>
						</div>
						<div for="error" class="error" ng-messages="register.DateOfBirthDay.$error" data-ng-if="userRegister.authenticated">
								<p ng-message="required">*required</p>
						</div>
					</div>
					<div class="col-md-3">
						<div>
							<button type="button" name="DateOfBirthMonth" class="btn btn-select" ng-model="userRegister.BirthMonth" bs-options="DateOfBirthMonth for DateOfBirthMonth in userRegister.DateOfBirthMonth" required bs-select>
						</div>
						<div for="error" class="error" ng-messages="register.DateOfBirthMonth.$error" data-ng-if="userRegister.authenticated">
								<p ng-message="required">*required</p>
						</div>
					</div>
					<div class="col-md-2">
						<div>
							<input type="text" size="20" name="DateOfBirthYear" placeholder="Year" ng-model="userRegister.BirthYear" class="form-control" required>
						</div>
						<div for="error" class="error" ng-messages="register.DateOfBirthYear.$error" data-ng-if="userRegister.authenticated">
								<p ng-message="required">*required</p>
						</div>
					</div>
			  </div>
				<div class="row top-buffer">
					<div class="col-md-4">
						<label for="landline">
							Landline details:
							<span class="mandatoryStar">*</span>
						</label>
					</div>
					<div class="col-md-3">
						<div>
							<button type="button" name="landlineAreaCode" class="btn btn-select" ng-model="userRegister.landlineCode" bs-options="LandlineAreaCode for LandlineAreaCode in userRegister.LandlineAreaCode" required bs-select>
	  					    <span class="caret"></span>
						</div>
						<div for="error" class="error" ng-messages="register.landlineAreaCode.$error" data-ng-if="userRegister.authenticated">
				    		<p ng-message="required">*required</p>
						</div>
					</div>
					<div class="col-md-4">
						<div>
							<input type="text" size="20" name="landlineNum" placeholder="Contact Number" ng-model="userRegister.landlineNum" class="form-control" required>
						</div>
						<div for="error" class="error" ng-messages="register.landlineNum.$error" data-ng-if="userRegister.authenticated">
				    		<p ng-message="required">*required</p>
						</div>
					</div>
				</div>
				<div class="row top-buffer">
					<div class="col-md-4">
						<label for="phone">
							Mobile Phone Number:
							<span class="mandatoryStar">*</span>
						</label>
					</div>
					<div class="col-md-3">
						<div>
							<button type="button" name="phoneAreaCode" class="btn btn-select" ng-model="userRegister.PhoneCode" bs-options="PhoneAreaCode for PhoneAreaCode in userRegister.PhoneAreaCode" required bs-select>
	  					    <span class="caret"></span>
						</div>
  					    <div for="error" class="error" ng-messages="register.phoneAreaCode.$error" data-ng-if="userRegister.authenticated">
				    		<p ng-message="required">*required</p>
						</div>
					</div>
					<div class="col-md-4">
						<div>
							<input type="text" size="20" name="phoneNum" placeholder="Contact Number" ng-model="userRegister.phoneNum" class="form-control" required>
						</div>
						<div for="error" class="error" ng-messages="register.phoneNum.$error" data-ng-if="userRegister.authenticated">
				    		<p ng-message="required">*required</p>
						</div>
					</div>
				</div>
				<div class="row top-buffer">
					<div class="col-md-4">
						<label for="address_finder">
							Address Finder
						</label>
					</div>
					<div class="col-md-8">
						<input id="addressAutoComplete" class="form-control" data-ng-model="userRegister.selectedAddress" placeholder="Enter your address" type="text" size="50">
						<div for="canNotFindAddress">
							<a class="canNotFindAddress" data-ng-click="canNotFindYourAddress()">Cannot Find your address?</a>
						</div>
						<!-- api previously -->
						<!-- <input type="text" size="50" class="form-control" data-ng-model="userRegister.selectedAddress" bs-options="address.formatted_address as address.formatted_address for address in getAddress($viewValue)" placeholder="Enter address" bs-on-select="populateAddress" bs-typeahead> -->
						<div for="error" ng-messages="true">
				    		<p ng-message="required"></p>
						</div>
					</div>
				</div>
				<div class="row top-buffer" data-ng-if="userRegister.address||userRegister.getFromGoogleApi==false">
					<div class="col-md-4">
						<label for="address">
							Address
						</label>
					</div>
					<div class="col-md-8">
						<div>
							<input type="text" size="40" name="address" data-ng-model="userRegister.additionalAddress" placeholder="Additional details (unit, company, floor, etc)" class="form-control" required>
						</div>
						<br>
						<div>
							<input type="text" size="40" name="address" data-ng-model="userRegister.address" class="form-control"  ng-disabled="userRegister.getFromGoogleApi" required>
						</div>
						<div for="error" class="error" ng-messages="register.address.$error" data-ng-if="userRegister.authenticated">
				    		<p ng-message="required">*required</p>
						</div>
					</div>
				</div>
				<div class="row top-buffer" data-ng-if="userRegister.surburb||userRegister.getFromGoogleApi==false">
					<div class="col-md-4">
						<label for="surburb">
							Surburb
						</label>
					</div>
					<div class="col-md-8">
						<input type="text" size="30" name="surburb" data-ng-model="userRegister.surburb" class="form-control" ng-disabled="userRegister.getFromGoogleApi" required>
						<div for="error" class="error" ng-messages="register.surburb.$error" data-ng-if="userRegister.authenticated">
				    		<p ng-message="required">*required</p>
						</div>
					</div>
				</div>
				<div class="row top-buffer" data-ng-if="userRegister.city||userRegister.getFromGoogleApi==false">
					<div class="col-md-4">
						<label for="city">
							City
						</label>
					</div>
					<div class="col-md-8">
						<input type="text" size="30" name="city" data-ng-model="userRegister.city" class="form-control" ng-disabled="userRegister.getFromGoogleApi" required>
						<div for="error" class="error" ng-messages="register.city.$error" data-ng-if="userRegister.authenticated">
				    		<p ng-message="required">*required</p>
						</div>
					</div>
				</div>
				<div class="row top-buffer" data-ng-if="userRegister.postcode||userRegister.getFromGoogleApi==false">
					<div class="col-md-4">
						<label for="postcode">
							Post Code
						</label>
					</div>
					<div class="col-md-8">
						<input type="text" size="30" name="postcode" data-ng-model="userRegister.postcode" class="form-control" ng-disabled="userRegister.getFromGoogleApi" required>
						<div for="error" class="error" ng-messages="register.postcode.$error" data-ng-if="userRegister.authenticated">
				    		<p ng-message="required">*required</p>
						</div>
					</div>
				</div>
				<div class="separator"></div>
				<div>
					<p id="TnCContainer" align="center">
						<span name="TnCCheckbox">
							<input id="TnCCheckbox" type="checkbox" name="TnCCheckbox" data-ng-model="userRegister.TnCCheckbox">
						</span>
						I am over 18 and have read and accept Funtown's
						<a ui-sref="register.termsAndCondition" target="_blank">terms and conditions</a>
					</p>
					<div for="error" class="error" data-ng-if="!userRegister.TnCCheckbox && userRegister.authenticated">
				    	<p class="text-center">*Please Read and Accept Funtown terms and conditions.</p>
					</div>
				</div>
				<div class="text-center">
					<button type="submit" class="btn buttom-buffer">Join Funtown</button>
				</div>
				<br>

			</form>
		</div>
	</div>
</div>
