body {
  font-size: 16px;
  background-color: #F2F2F2;
  color: #333;
  font-family: Open Sans,Arial,Helvetica,sans-serif,SimSun;
  line-height: 1.3;
  position: relative;
  min-height: 100%;
  top: 0px;
  overflow-x: hidden; }

a {
  color: #333;
  position: relative;
  background: transparent; }
  a:hover, a:focus, a:active, a.active {
    text-decoration: none;
    color: #f60; }
  a[disabled] {
    color: #e6e6e6;
    cursor: not-allowed;
    pointer-events: none; }

.ft-card-padded {
  padding: 15px; }

#notification-container {
  position: fixed;
  top: 135px;
  right: 30px;
  width: 300px; }
  #notification-container .alert {
    border-radius: 4px !important; }

.alerts-container {
  position: relative;
  padding: 15px 0;
  margin-bottom: 5px; }

.alert {
  position: absolute;
  top: -2px;
  right: 0;
  left: 0;
  margin: 0;
  border-top: 2px solid;
  line-height: 2;
  min-height: 60px;
  background: #000;
  color: #fff;
  border: 0;
  border-radius: 0; }
  .alert .close {
    text-shadow: none;
    color: #fff;
    opacity: 0.5; }

.suppress {
  color: #cccccc; }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

.table-topped {
  margin-top: 20px; }

.table-hover > tbody tr:hover {
  color: #f60;
  background: transparent;
  cursor: pointer; }

.error {
  color: #e62e04;
  font-size: 0.8em;
  font-weight: 100; }

.success {
  color: #4caf50;
  font-size: 0.8em;
  font-weight: 100; }

label {
  color: #333; }

.dropdown-menu > li {
  padding: 0px !important; }

.dropdown-menu > li a {
  cursor: pointer; }
  .dropdown-menu > li a:hover {
    background: transparent;
    color: #f60; }

.dropdown-menu > li.active a, .dropdown-menu > li.active a:hover {
  background-color: #f2f2f2;
  color: #f60; }

.btn, .btn:focus, .btn:hover, .btn[diabled]:hover {
  background: #e62e04;
  color: #fff;
  border: 1px solid #e62e04;
  border-radius: 0; }

.btn-rounded, .btn-rounded:focus, .btn-rounded:hover, .btn-rounded[diabled]:hover {
  border-radius: 30px; }

.btn-select, .btn-select:focus, .btn-select:hover, .btn-select[diabled]:hover {
  background: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 175px;
  text-align: left; }
  .btn-select .caret, .btn-select:focus .caret, .btn-select:hover .caret, .btn-select[diabled]:hover .caret {
    float: right;
    margin-top: 9px; }

.btn-select[disabled] {
  background: #eee; }

.form-control {
  box-shadow: none;
  border: 1px solid #ccc;
  display: inline-block;
  width: auto; }

main {
  position: absolute;
  top: 120px;
  width: 100%; }

.ft-header {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #e9e9e9;
  z-index: 1000; }
  .ft-header .header-left {
    position: relative;
    float: left;
    color: #e62e04;
    font-size: 1.5em;
    width: 250px;
    padding-top: 20px;
    z-index: 100; }
  .ft-header .header-middle {
    position: relative;
    padding: 15px 0; }
  .ft-header .header-right {
    position: relative;
    float: right;
    padding-left: 20px;
    padding-top: 12px;
    z-index: 100; }
    .ft-header .header-right .ft-top-nav {
      display: table;
      padding-top: 10px; }
      .ft-header .header-right .ft-top-nav a {
        display: table-cell;
        padding-right: 10px;
        height: 40px;
        min-height: 40px;
        vertical-align: top; }

.search-box {
  display: table;
  text-align: center;
  padding: 0;
  height: 40px;
  width: 50%; }
  .search-box input {
    display: table-cell;
    width: 100%;
    height: 40px;
    padding-left: 15px;
    border: 1px solid #cbcbcb;
    border-radius: 3px 0 0 3px;
    border-right: 0;
    outline: 0; }
  .search-box .search-button {
    display: table-cell;
    width: 50px;
    color: #fff;
    background: #e62e04;
    border: 1px solid #e62e04;
    border-radius: 0 3px 3px 0; }

.navbar {
  position: fixed;
  top: 70px;
  width: 100%;
  z-index: 1000;
  background: #fff;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 0; }
  .navbar .navbar-nav {
    width: 100%; }
    .navbar .navbar-nav li {
      text-align: center; }
      .navbar .navbar-nav li.active a, .navbar .navbar-nav li.active a:hover, .navbar .navbar-nav li.active a:focus {
        color: #f60;
        background: transparent;
        cursor: default;
        pointer-events: none; }
      .navbar .navbar-nav li a {
        color: #333;
        background: transparent; }
        .navbar .navbar-nav li a:hover, .navbar .navbar-nav li a:focus {
          color: #f60;
          background: transparent; }

.ft-side-nav {
  position: absolute;
  width: 230px;
  margin: 5px 15px; }
  .ft-side-nav .ft-side-nav-group li {
    border-left: 3px solid transparent;
    margin: 0 -15px;
    padding: 5px 30px; }
  .ft-side-nav .ft-side-nav-group ul {
    margin: 0; }
  .ft-side-nav ul {
    margin: 10px 0; }
  .ft-side-nav li.linked {
    border-left: 3px solid transparent;
    padding: 5px 12px; }
  .ft-side-nav li.active {
    border-left: 3px solid #f60;
    background-color: #f2f2f2;
    cursor: default;
    pointer-events: none; }
    .ft-side-nav li.active a {
      color: #f60; }

.ft-main-content {
  display: table;
  width: 100%;
  padding-left: 250px;
  padding-bottom: 60px; }
  .ft-main-content h3 {
    padding: 0px; }
  .ft-main-content .ft-main-title {
    height: 40px;
    line-height: 2;
    background: #e62e04;
    color: #fff;
    width: 100%; }

.ft-card {
  display: block;
  width: 100%;
  margin: 15px 0;
  background: #fff;
  border: 1px solid #e9e9e9; }
  .ft-card h4 {
    text-transform: capitalize; }
  .ft-card .ft-card-title {
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
    padding: 10px 0;
    background: #f2f2f2;
    background: #e62e04;
    color: #fff; }
  .ft-card .ft-card-footer {
    padding: 15px;
    width: calc(100% + 30px);
    margin: 15px 0px -15px -15px;
    border-top: 2px solid #e9e9e9;
    background: #fafafa; }
  .ft-card.ft-card-ht {
    min-height: 250px; }
  .ft-card.ft-card-no-margin {
    display: table;
    margin: 0;
    padding: 15px; }
  .ft-card .ft-profile {
    padding: 15px; }
  .ft-card .ft-profile-member {
    min-height: 115px;
    background: #fafafa;
    border-right: 1px solid #e9e9e9; }
  .ft-card li {
    padding: 5px 15px; }

.separator {
  margin: 15px 0;
  width: 100%;
  display: block;
  border-bottom: 1px solid #e9e9e9; }

.ft-steps {
  background: #fafafa;
  padding: 15px;
  display: table;
  width: 100%;
  border: 1px solid #e9e9e9; }
  .ft-steps a {
    display: inline-block;
    border-right: 1px solid #e6e6e6;
    font-size: 0.8em;
    text-align: center; }
    .ft-steps a .ft-step-num {
      display: block;
      vertical-align: middle;
      text-align: center;
      width: 25px;
      height: 25px;
      line-height: 1.6em;
      background: #f2f2f2;
      border: 1px solid #e6e6e6;
      border-radius: 50%;
      margin: auto; }
    .ft-steps a .ft-step-text {
      margin-top: 5px;
      display: block; }
    .ft-steps a.active .ft-step-num, .ft-steps a.active:hover .ft-step-num {
      background: #f60;
      border: 1px solid #f60;
      color: #fff; }
    .ft-steps a.active .ft-step-text, .ft-steps a.active:hover .ft-step-text {
      color: #f60; }
  .ft-steps a:last-child {
    border-right: 0; }

.ft-badge {
  float: right;
  padding: 0 8px;
  margin-left: 5px;
  line-height: 16px;
  text-align: center;
  border-radius: 8px;
  background-color: #e62e04;
  color: #fff;
  font-size: 12px; }

.active .ft-badge {
  background-color: #fff;
  color: #e62e04; }

.ft-badge-cart {
  position: absolute;
  left: 3px;
  top: -18px; }

.nav-tabs {
  margin-top: 15px;
  border: 0; }
  .nav-tabs li {
    margin: 0 -1px 0 0; }
    .nav-tabs li a {
      padding: 8px 20px;
      background: #fff;
      font-size: 0.8em;
      border-radius: 0;
      border: 1px solid #e9e9e9;
      margin: 0; }
      .nav-tabs li a:hover, .nav-tabs li a:focus {
        background: #fff;
        border: 1px solid #e9e9e9; }
  .nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
    background: #e62e04;
    color: #fff;
    border: 1px solid #e62e04;
    margin: 0; }

.nav-tab-body {
  border-top: 2px solid #e62e04; }

.ft-data-form {
  padding: 0 15px;
  display: table;
  width: 100%; }
  .ft-data-form .row {
    padding: 10px 0; }
  .ft-data-form .ft-form-list {
    padding: 5px 15px; }
  .ft-data-form b {
    max-width: 100%;
    margin-bottom: 5px; }

.ft-multiselect {
  margin: 0px 0px; }
  .ft-multiselect .ft-multiselect-title {
    background: #e9e9e9;
    padding: 15px; }
  .ft-multiselect .ft-multiselect-options {
    list-style: none;
    border: 1px solid #e9e9e9;
    border-bottom: 0;
    padding: 0;
    max-height: 300px;
    overflow: hidden;
    overflow: scroll; }
    .ft-multiselect .ft-multiselect-options li {
      padding: 0; }
      .ft-multiselect .ft-multiselect-options li a {
        display: block;
        width: 100%;
        border-bottom: 1px solid #e9e9e9;
        padding: 15px; }
      .ft-multiselect .ft-multiselect-options li a.active {
        background-color: #f2f2f2;
        color: #f60; }
  .ft-multiselect .ft-multiselect-selected {
    background: #fafafa;
    border: 1px solid #e9e9e9;
    padding: 0 10px; }
    .ft-multiselect .ft-multiselect-selected li {
      padding: 0; }
      .ft-multiselect .ft-multiselect-selected li a {
        display: inline-block;
        padding: 15px 5px 15px 0; }
      .ft-multiselect .ft-multiselect-selected li a[disabled] {
        color: #f60; }

.ft-multiselect-selected {
  list-style: none;
  margin: 0;
  padding: 0; }
  .ft-multiselect-selected li {
    padding: 0px 5px 0 0;
    display: inline-block; }

.credit {
  display: block;
  font-size: 0.6em;
  padding: 2px 13px;
  color: #cccccc; }

.ft-details-label {
  display: table-cell;
  text-transform: capitalize; }

.ft-details-data {
  display: table-cell; }
  .ft-details-data.starring:after {
    content: ', et al.';
    color: #cccccc;
    display: inline-block; }

.ft-catalog-poster {
  border: 1px solid #e9e9e9; }

.ft-catalog-photo {
  width: 120px;
  height: 180px;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #e9e9e9;
  text-align: left; }
  .ft-catalog-photo a {
    display: inline-block;
    position: absolute;
    bottom: -20px; }

.ft-catalog-preview {
  display: table-cell;
  text-align: center;
  margin: auto;
  vertical-align: middle;
  color: #e6e6e6;
  margin-bottom: 30px; }

.ft-fieldset {
  background: #f2f2f2;
  margin-bottom: 5px;
  border: 1px solid #e9e9e9; }

.ft-fieldset-light {
  background: #fafafa; }

.readOnly .form-control {
  cursor: default !important;
  border-color: transparent !important;
  background: transparent !important; }

.ft-col {
  display: table-cell;
  padding: 8px; }
  .ft-col .error {
    display: block;
    margin-top: 2px; }

.ft-shipping-costs[disabled] {
  opacity: 0.3; }

ol {
  padding: 0px;
  list-style-position: inside; }
  ol li {
    padding: 5px 0 !important; }

.drop-zone {
  border: 2px dashed #ccc;
  padding: 15px;
  text-align: center;
  color: #ccc;
  text-transform: capitalize; }
  .drop-zone h4 {
    font-size: 1.3em;
    padding: 25px;
    line-height: 1.5; }
  .drop-zone small {
    display: inline-block;
    color: #ccc;
    margin: 10px 0; }

.drop-enter {
  border-color: #f60;
  color: #f60; }

.file-upload {
  visibility: hidden;
  position: absolute; }

.ft-table-header {
  background: #f2f2f2; }

h3[data-ng-bind="headTitle"] {
  text-transform: capitalize; }

.login {
  float: right;
  width: 340px;
  display: block;
  padding: 25px; }
  .login label {
    display: block; }
  .login small {
    font-weight: normal; }
  .login .form-control {
    width: 100%; }
  .login .btn {
    width: 100%; }

.user {
  display: inline-block;
  vertical-align: middle; }
  .user span {
    font-size: 0.8em; }

.top-buffer {
  margin-top: 1em; }

.buttom-buffer {
  margin-buttom: 20px; }

#TnCContainer {
  font-size: 12px; }

#TnCContainer a {
  color: #337ab7 !important; }

.canNotFindAddress {
  font-size: 10px;
  color: #337ab7;
  cursor: pointer; }

.mandatoryStar {
  color: red; }

.dropdown-menu {
  max-height: 400px;
  overflow: hidden;
  overflow-y: auto; }
