body {
  font-size: 16px;
  background-color: #F2F2F2;
  color: #333;
  font-family: Open Sans,Arial,Helvetica,sans-serif,SimSun;
  line-height: 1.3;
  position: relative;
  min-height: 100%;
  top: 0px; }

a {
  color: #333;
  position: relative;
  background: transparent; }
  a:hover, a:focus, a:active, a.active {
    text-decoration: none;
    color: #f60; }
  a[disabled] {
    color: #e6e6e6;
    cursor: not-allowed;
    pointer-events: none; }

.ft-header {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8; }
  .ft-header .header-left {
    position: relative;
    float: left;
    color: #e62e04;
    font-size: 1.5em;
    width: 250px;
    padding-top: 20px;
    z-index: 100; }
  .ft-header .header-middle {
    position: relative;
    padding: 15px 0; }
  .ft-header .header-right {
    position: relative;
    float: right;
    padding-left: 20px;
    padding-top: 12px;
    z-index: 100; }
    .ft-header .header-right .ft-top-nav {
      padding-top: 10px; }
      .ft-header .header-right .ft-top-nav a {
        padding-right: 10px;
        height: 25px; }

.search-box {
  display: table;
  text-align: center;
  padding: 0;
  height: 40px;
  width: 50%; }
  .search-box input {
    display: table-cell;
    width: 100%;
    height: 40px;
    padding-left: 15px;
    border: 1px solid #cbcbcb;
    border-radius: 3px 0 0 3px;
    border-right: 0;
    outline: 0; }
  .search-box .search-button {
    display: table-cell;
    width: 50px;
    color: #fff;
    background: #e62e04;
    border: 1px solid #e62e04;
    border-radius: 0 3px 3px 0; }

.navbar {
  background: #fff;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 0; }
  .navbar .navbar-nav {
    width: 100%; }
    .navbar .navbar-nav li {
      text-align: center; }
      .navbar .navbar-nav li.active a, .navbar .navbar-nav li.active a:hover, .navbar .navbar-nav li.active a:focus {
        color: #f60;
        background: transparent; }
      .navbar .navbar-nav li a {
        color: #333;
        background: transparent; }
        .navbar .navbar-nav li a:hover, .navbar .navbar-nav li a:focus {
          color: #f60;
          background: transparent; }

.ft-side-nav {
  top: 120px;
  position: absolute;
  width: 230px;
  margin: 6px 15px; }
  .ft-side-nav .ft-side-nav-group li {
    border-left: 3px solid transparent;
    margin: 0 -15px;
    padding: 5px 30px; }
  .ft-side-nav .ft-side-nav-group ul {
    margin: 0; }
  .ft-side-nav ul {
    margin: 10px 0; }
  .ft-side-nav li.active {
    border-left: 3px solid #f60;
    background-color: #f2f2f2; }
    .ft-side-nav li.active a {
      color: #f60; }

.ft-main-content {
  padding-left: 250px; }
  .ft-main-content h3 {
    padding: 0px; }
  .ft-main-content .ft-main-title {
    height: 40px;
    line-height: 2;
    background: #e62e04;
    color: #fff;
    width: 100%; }

.ft-card {
  display: table;
  width: 100%;
  margin: 15px 0;
  background: #fff;
  border: 1px solid #e9e9e9; }
  .ft-card .ft-card-title {
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
    padding: 10px 0;
    background: #f2f2f2;
    background: #e62e04;
    color: #fff; }
  .ft-card.ft-card-ht {
    min-height: 250px; }
  .ft-card.ft-card-no-margin {
    margin: 0;
    padding: 15px; }
  .ft-card .ft-profile {
    padding: 15px; }
  .ft-card .ft-profile-member {
    min-height: 115px;
    background: #fafafa;
    border-right: 1px solid #e9e9e9; }
  .ft-card li {
    padding: 5px 15px; }

.ft-steps {
  background: #fafafa;
  padding: 15px;
  display: table;
  width: 100%;
  border: 1px solid #e9e9e9; }
  .ft-steps a {
    display: inline-block;
    border-right: 1px solid #e6e6e6;
    font-size: 0.8em;
    text-align: center; }
    .ft-steps a .ft-step-num {
      display: block;
      vertical-align: middle;
      text-align: center;
      width: 25px;
      height: 25px;
      line-height: 1.6em;
      background: #f2f2f2;
      border: 1px solid #e6e6e6;
      border-radius: 50%;
      margin: auto; }
    .ft-steps a .ft-step-text {
      margin-top: 5px;
      display: block; }
    .ft-steps a.active .ft-step-num, .ft-steps a.active:hover .ft-step-num {
      background: #f60;
      border: 1px solid #f60;
      color: #fff; }
    .ft-steps a.active .ft-step-text, .ft-steps a.active:hover .ft-step-text {
      color: #f60; }
  .ft-steps a:last-child {
    border-right: 0; }

.ft-badge {
  float: right;
  padding: 0 8px;
  margin-left: 5px;
  line-height: 16px;
  text-align: center;
  border-radius: 8px;
  background-color: #e62e04;
  color: #fff;
  font-size: 12px; }

.ft-badge-cart {
  position: absolute;
  left: 3px;
  top: -18px; }

.nav-tabs {
  margin-top: 15px;
  border: 0; }
  .nav-tabs li {
    margin: 0 -1px 0 0; }
    .nav-tabs li a {
      padding: 8px 20px;
      background: #fff;
      font-size: 0.8em;
      border-radius: 0;
      border: 1px solid #e9e9e9;
      margin: 0; }
      .nav-tabs li a:hover, .nav-tabs li a:focus {
        background: #fff;
        border: 1px solid #e9e9e9; }
  .nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
    background: #e62e04;
    color: #fff;
    border: 1px solid #e62e04;
    margin: 0; }

.nav-tab-body {
  border-top: 2px solid #e62e04; }

.ft-multiselect {
  margin: 10px -15px; }
  .ft-multiselect .ft-multiselect-title {
    background: #e9e9e9;
    padding: 15px; }
  .ft-multiselect .ft-multiselect-options {
    list-style: none;
    border: 1px solid #e9e9e9;
    padding: 0;
    max-height: 300px;
    overflow: hidden;
    overflow: scroll; }
    .ft-multiselect .ft-multiselect-options li {
      padding: 0; }
      .ft-multiselect .ft-multiselect-options li a {
        display: block;
        width: 100%;
        border-bottom: 1px solid #e9e9e9;
        padding: 15px; }
      .ft-multiselect .ft-multiselect-options li a.active {
        background-color: #f2f2f2;
        color: #f60; }
  .ft-multiselect .ft-multiselect-selected {
    background: #fafafa;
    list-style: none;
    border: 1px solid #e9e9e9;
    margin: 0;
    padding: 0;
    padding: 0 10px; }
    .ft-multiselect .ft-multiselect-selected li {
      padding: 0;
      display: inline-block; }
      .ft-multiselect .ft-multiselect-selected li a {
        display: inline-block;
        padding: 15px 5px; }
      .ft-multiselect .ft-multiselect-selected li a[disabled] {
        color: #f60; }
