<div class="alert" ng-class="[type ? 'alert-' + type : null]">
  <button type="button" class="close" ng-if="dismissable" ng-click="$hide()">&times;</button>
  <i class="fa fa-exclamation-triangle fa-lg "></i>
  <span ng-if="title">
    <strong ng-bind="title"></strong>&nbsp;<span ng-bind-html="content"></span>
  </span>
  <span ng-if="!title" ng-bind-html="content"></span>
  <button data-ng-repeat="button in buttons"  class="btn btn-rounded" data-ng-click="button.action?this[button.action]():'';$hide()" data-ng-bind="button.name"></button>
</div>