<!DOCTYPE html>
<html>
    <head>
        <title>Funtown</title>
        <!-- build:css assets/css/funtown.min.css -->
        <link rel="stylesheet" type="text/css" href="assets/lib/font-awesome/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="assets/lib/bootstrap/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="assets/css/funtown.css">
        <!-- endbuild -->
    </head>
    <body ng-cloak flow-prevent-drop flow-drag-enter="dropClass='drop-enter'" flow-drag-leave="dropClass=''">
        <div data-ng-controller="MainController">            
            <header class="ft-header">
                <div class="container">
                    <div class="header-left">
                        <a href="/">Funtown</a>
                    </div>
                    <div class="header-right">
                        <div class="ft-top-nav">
                            <a class="ft-cart" ui-sref="cart">          
                                <img class="icon" src="assets/images/cart.png">                          
                                <span class="ft-cart-text sm-hidden">Cart</span>
                                <span class="ft-badge ft-badge-cart">0</span>
                            </a>
                            <a ui-sref="login" data-ng-if="!isAuthenticated()">
                                <img class="icon" src="assets/images/user.png">Login
                            </a> 
                            <a ui-sref="logout" data-ng-if="isAuthenticated()">
                                <img class="icon" src="assets/images/exit.png">
                                <span class="user">
                                    <span data-ng-bind="'Hi! ' + username()"></span>
                                    <div>Logout</div>
                                </span>    
                            </a>    
                        </div>                        
                    </div>
                    <div class="header-middle">                        
                            <div class="search-box">                                
                                <input type="text" placeholder="Search funtown">
                                <div class="search-button">
                                    <i class="fa fa-lg fa-search"></i>
                                </div>
                            </div>                        
                    </div>
                </div>
            </header>    
            <nav class="navbar navbar-default" role="navigation" bs-navbar>                    
                <div class="collapse navbar-collapse">
                    <div class="container">
                        <ul class="navbar-nav nav">     
                            <li class="col-md-3" ui-sref-active="active"><a ui-sref="buy">Buy</a></li>
                            <li class="col-md-3" ><a ui-sref="manage.addProduct.step1">Sell</a></li>
                            <li class="col-md-3"  ui-sref-active="active"><a ui-sref="look">Look For</a></li>
                            <li class="col-md-3" ui-sref-active="active"><a ui-sref="manage">My Funtown</a></li>
                        </ul>   
                    </div>
                </div>
            </nav>                                 
            <main>            
                <div data-ui-view></div>
                <div id="notification-container"></div>
            </main>            
        </div>
        <!--build:js assets/js/funtown.min.js -->             
            <script src="assets/lib/angular/angular.js"></script>            
            <script src="assets/lib/angular/angular-ui-router.js"></script>            
            <script src="assets/lib/angular/angular-messages.js"></script>
            <script src="assets/lib/angular/angular-sanitize.js"></script>            
            <script src="assets/lib/angular-strap/angular-strap.js"></script>
            <script src="assets/lib/angular-strap/angular-strap.tpl.js"></script>
            <script src="assets/lib/ng-flow.js"></script> 

            <script src="app/application.js"></script>
            <script src="app/main.controller.js"></script>

            <script src="app/modules/auth/auth.module.js"></script>   
            <script src="app/modules/auth/auth.routes.js"></script>   
            <script src="app/modules/auth/services/auth.service.js"></script>   
            <script src="app/modules/auth/controllers/login.controller.js"></script>  
            <script src="app/modules/auth/controllers/logout.controller.js"></script> 
            <script src="app/modules/auth/controllers/register.controller.js"></script>   

            <script src="app/modules/manage/manage.module.js"></script>    
            <script src="app/modules/manage/controllers/manage.controller.js"></script>
            <script src="app/modules/manage/manage.routes.js"></script>
    
            <script src="app/modules/alerts/alerts.module.js"></script>   
            <script src="app/modules/alerts/services/alerts.service.js"></script> 
            <script src="app/modules/alerts/directives/confirmAlert.directive.js"></script>   

            <script src="app/modules/account/account.module.js"></script>    
            <script src="app/modules/account/account.routes.js"></script>

            <script src="app/modules/buying/buying.module.js"></script>    
            <script src="app/modules/buying/buying.routes.js"></script>

            <script src="app/modules/selling/selling.module.js"></script> 
            <script src="app/modules/selling/controllers/products-list.controller.js"></script> 
            <script src="app/modules/selling/services/products-list.view.service.js"></script> 
            <script src="app/modules/selling/services/shipping.service.js"></script>

            <script src="app/modules/selling/controllers/product-add.controller.js"></script> 
            <script src="app/modules/selling/controllers/product-add-step1.controller.js"></script>
            <script src="app/modules/selling/controllers/product-add-step2.controller.js"></script> 
            <script src="app/modules/selling/controllers/product-add-step3.controller.js"></script>
            <script src="app/modules/selling/controllers/product-add-step4.controller.js"></script>
            <script src="app/modules/selling/controllers/product-add-step5.controller.js"></script>
            <script src="app/modules/selling/controllers/product-add-step6.controller.js"></script>
            
            <script src="app/modules/selling/processors/moviesCatalog.processor.js"></script> 
            <script src="app/modules/selling/processors/gamesCatalog.processor.js"></script> 
            
            <script src="app/services/category.service.js"></script> 
            <script src="app/services/attribute.service.js"></script>
            <script src="app/services/product.service.js"></script>            
            <script src="app/services/funtownCatalog.service.js"></script> 
            <script src="app/services/movieDbCatalog.service.js"></script> 

            <script src="app/factories/catalog.factory.js"></script> 

            <script src="app/directives/numberInput.directive.js"></script> 


        <!-- endbuild -->
    </body>
</html>
